body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.align_languages{
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 25px;
}

.flag{
  padding-top: 15px;
  padding-left: 15px;
  display: block;
  width: 100px;
  height: 100px;
}

.weather_icon{
  padding-left: 15px;
  display: block;
  width: 100px;
  height: 100px;
}

.align{
  padding-left: 25px;
  padding-top: 25px;
  padding-bottom: 25px;
}